.text-center.border.pt-5.w-75.pb-4.mx-auto.mb-5
  %h2 Settings
  = render 'devise/shared/error_messages', resource: resource
  = form_for(resource, as: resource_name, url: registration_path(resource_name) , data: { turbo: false }, method: :put) do |f|
    = f.label :email
    = f.email_field :email, class: 'form-control  w-75 mx-auto'
    %br
    = f.label :password
    %p.w-75.mx-auto.mb-0.text-secondary (leave blank if you don't want to change it)
    = f.password_field :password, class: 'form-control w-75 mx-auto'
    %br
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control  w-75 mx-auto'
    %br
    %p.mx-auto.w-75.my-0 Your current password to confirm your changes
    = f.password_field :current_password, class: 'form-control  w-75 mx-auto'
    %br
    = f.submit 'Update', class: 'btn btn-outline-success mx-2', style: 'width: 160px;'
  %h3.mt-3 Cancel my account
  = button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-outline-danger mx-2 mt-3'

  = link_to 'Back', :back, class: 'btn btn-outline-warning mx-2 mt-4', style: 'width: 160px;'
