= form_with(url: comment_path(comment), data: { remote: true }, method: 'patch') do |f|
  = f.hidden_field :product_id, value: @product.id
  = f.hidden_field :user_id, value: current_user.id
  %div
    = f.text_area :body, value: @comment.body, autofocus: true, class: 'form-control mx-auto w-75'
  .my-2.d-flex.mx-auto.justify-content-center.w-75
    %p.my-auto Rating:
    = f.select(:rating, options_for_select([['★', 1], ['★★', 2], ['★★★', 3], ['★★★★', 4], ['★★★★★', 5]], selected: @comment.rating), {}, {class: 'form-select mx-2 w-50'})
    = f.submit 'Submit', class: 'btn btn-outline-warning'
