.text-center
  %h3.my-2 New Comment
  = render 'shared/error_messages', comment: @comment
  = form_with(url: comments_path, data: { remote: true }) do |f|
    .mx-2
      = f.text_area :body, class: 'form-control mx-auto'
    .my-2
      = f.label :rating
      = f.select(:rating, options_for_select([['★', 1], ['★★', 2], ['★★★', 3], ['★★★★', 4], ['★★★★★', 5]]), {}, {class: 'form-select w-25 mx-auto'})
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :product_id, value: @product.id
    = f.submit 'Submit', class: 'btn btn-outline-info'

