.d-md-flex.justify-content-center
  .d-flex{ style: 'min-width: 50%;' }
    = select_tag :sort, options_for_select([['Low-price', 'min'], ['High-price', 'max']], selected: params[:sort]), data: { remote: true, url: pattern }, class: 'form-select mt-3'
    = select_tag :sort, options_for_select([['From A to Z', 'a_z'], ['From Z to A', 'z_a']], selected: params[:sort]), data: { remote: true, url: pattern }, class: 'form-select mt-3 ms-2'
  = form_with url: pattern, method: 'get', class: 'd-md-flex' do |f|
    .d-flex.justify-content-center
      = f.number_field :range_start, required: true, placeholder: 'min', class: 'form-select mt-3 ps-2 ms-2', style: 'max-width: 150px;'
      = f.number_field :range_end, required: true, placeholder: 'max', class: 'form-select mt-3 ps-2 mx-2', style: 'max-width: 150px;'
    = f.submit 'Find all', class: 'btn btn-outline-success mt-3'
