%header
  %nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark.border-bottom
    .container
      = link_to 'GeekHub', root_path, class: 'navbar-brand'
      %button.navbar-toggler.collapsed{ 'aria-controls': 'navbarCollapse', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation', 'data-bs-target': '#navbarCollapse', 'data-bs-toggle': 'collapse', type: 'button' }
        %span.navbar-toggler-icon
      #navbarCollapse.navbar-collapse.collapse
        %ul.navbar-nav.me-auto.mb-2.mb-md-0
          - if current_user && current_user.admin?
            %li.nav-item
              = link_to 'Admin', rails_admin_path, class: 'nav-link'
          %li.nav-item
            = render 'shared/cart'
        %form.d-flex
          = form_with url: root_path, method: :get, class: 'form-inline my-2 my-lg-0 me' do
            = text_field_tag :search, '', placeholder: 'Search', class: 'me-2 form-control', id: 'autocomplete', data: {  title: @products_titles  }
            = submit_tag 'Search', class: 'btn btn-outline-success'
