.text-center.border.py-5.w-75.mx-auto.mb-5
  %h1.mb-4 Order
  = form_with(url: order_path(current_order), method: :patch, class: 'w-75 mx-auto') do |f|
    = f.label :full_name
    = f.text_field :full_name, required: true, class: 'form-control'
    %br
    = f.label :email
    = f.text_field :email, required: true, class: 'form-control'
    %br
    = f.label :phone
    = f.text_field :phone, required: true, class: 'form-control'
    %br
    = f.submit 'Submit', class: 'btn btn-outline-info'
