.text-center.px-3.py-4.border.w-75.mx-auto.my-4
  :css
    .order-input {
      all: unset;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  %h1 Cart
  = link_to 'View all orders', orders_path, class: 'btn btn-outline-success mb-4'
  - @items.each do |item|
    .d-md-flex.justify-content-around.border-bottom.border-top.py-2.align-items-center
      .w-100.mx-auto
        = image_tag item.product.images.first, width: '180px', height: '180px'
      .w-100.mx-auto
        %h2 #{item.product.title}
        %p #{item.quantity} x #{item.product.price}$
        = form_with url: product_order_item_path(id: item.id, product_id: item.product_id), method: :patch do |f|
          %button.btn.btn-success.h-50{ style: 'width: 35px;', onclick: 'this.nextElementSibling.stepDown()' } -
          = number_field_tag 'quantity', item.quantity, class: 'mx-2 text-center order-input', min: '1', style: 'width: 30px;'
          %button.btn.btn-danger.h-50{ onclick: 'this.previousElementSibling.stepUp()' } +
        %p.mt-3.mb-0.text-decoration-underline Total price: #{item.sub_price}$
    = link_to 'Remove item', product_order_item_path(product_id: item.product_id), method: 'delete', class: 'btn btn-danger my-3'
  - if @items.present?
    %p.text-success.mt-0 Order amount: #{current_order.total_price}$
    = link_to 'Order', edit_order_path, class: 'btn btn-outline-info'
  - else
    .text-secondary
      %h2 Your cart is Empty
      %p Looks like you haven`t added anything to your car yet.
