.text-center.row{ data: { controller: 'categories', categories_id_value: @category.id, subcategory: @subcategory } }
  .col-lg-3.col-10.mx-auto
    = render 'shared/sidebar'
  .col-lg-9.col-10.mx-auto
    - if @subcategory
      %h1= @category.subcategories.find(@subcategory).title
    - else
      %h1= @category.title
    .w-75.mx-auto.d-block.d-lg-flex
      = render 'shared/form_search', pattern: @product_category
    #products
      = render 'products/product', products: @products
