.text-center.row.mx-auto{ data: { controller: 'products' } }
  %h1= @product.title
  .col-lg-5.border.p-3.my-4.mx-auto.col-md-12.flex-column.justify-content-between.align-middle
    #carouselExampleDark.carousel.carousel-dark.slide{ 'data-bs-ride': 'carousel' }
      .carousel-inner.position-relative
        - @product.images.each_with_index do |image, index|
          - active_class = 'active' if index == 0
          .carousel-item{ class: active_class }
            = image_tag image, class: 'w-100', style: 'height: 250px;'
        %button.carousel-control-prev.opacity-100{ 'data-bs-slide': 'prev', 'data-bs-target': '#carouselExampleDark' }
          %span.rounded-circle.btn.btn-light{ 'aria-hidden': 'true', style: 'width: 35px;' } &#8249
        %button.carousel-control-next.opacity-100{ 'data-bs-slide': 'next', 'data-bs-target': '#carouselExampleDark' }
          %span.rounded-circle.btn.btn-light{ 'aria-hidden': 'true', style: 'width: 35px;' } &#8250
    .pt-2
      %h4.card-title= @product.title
      %p.card-text= @product.description
      %p Price:#{@product.price}$
      %p.text-warning{ id: "rating-#{@product.id}" } Rating: #{@product.rating.round(1)} #{@product.rating_to_star}
    .div.d-flex
      = link_to 'Back', root_path, class: 'btn btn-outline-success  w-50 mx-2'
      - if current_user
        = link_to 'Add to cart', product_order_items_path(@product), method: 'post', class: 'btn btn-outline-success w-50 mx-2'
      - else
        = link_to 'Add to cart', user_session_path, class: 'btn btn-outline-success w-50 mx-2'
    #comments
      = render 'comments/index', product: @product
